.por-qu-sky-container {
  width: 100%;
  display: flex;
  position: relative;
  min-height: 100vh;
  overflow-x: hidden;
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
  background-color: #ffffff;
}
.por-qu-sky-container01 {
  flex: 0 0 auto;
  width: 100%;
  height: 100px;
  display: flex;
  position: relative;
  align-items: center;
  margin-left: 200px;
  justify-content: flex-start;
}
.por-qu-sky-text01 {
  padding-left: 20px;
  padding-right: 20px;
}
.por-qu-sky-text02 {
  color: var(--dl-color-backgrounds-primary);
  font-size: 18px;
  font-weight: 600;
  padding-top: 0 10px 0 10px;
  padding-bottom: 0 10px 0 10px;
}
.por-qu-sky-container02 {
  height: 212px;
  position: relative;
}
.por-qu-sky-container03 {
  width: 806px;
  height: 213px;
  display: flex;
  align-items: flex-start;
}
.por-qu-sky-image {
  width: 40px;
}
.por-qu-sky-container04 {
  flex: 0 0 auto;
  width: 942px;
  height: 100%;
  display: flex;
  flex-direction: column;
}
.por-qu-sky-text03 {
  font-size: 40px;
  text-align: left;
  line-height: 1;
}
.por-qu-sky-text05 {
  color: var(--dl-color-backgrounds-primary);
}
.por-qu-sky-text06 {
  margin: var(--dl-space-space-halfunit);
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.5;
}
.por-qu-sky-text07 {
  margin: var(--dl-space-space-halfunit);
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.5;
}
.por-qu-sky-text08 {
  margin: var(--dl-space-space-halfunit);
  font-size: 15px;
  line-height: 1.5;
}
.por-qu-sky-container05 {
  width: 100%;
  height: 165px;
  display: flex;
  padding: 0px;
  position: relative;
  align-items: center;
  flex-direction: row;
  justify-content: center;
}
.por-qu-sky-text09 {
  width: 1075px;
  font-size: 40px;
  align-self: center;
  text-align: center;
  line-height: 50px;
}
.por-qu-sky-text10 {
  text-align: center;
}
.por-qu-sky-image01 {
  width: 100%;
  margin-top: -70px;
  object-fit: cover;
}
.por-qu-sky-main {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: #ffffff;
}
.por-qu-sky-container06 {
  flex: 0 0 auto;
  width: auto;
  border: 2px dashed rgba(120, 120, 120, 0.4);
  height: auto;
  display: flex;
  align-items: flex-start;
  justify-content: center;
}
.por-qu-sky-container07 {
  width: 100%;
  height: 106px;
  display: flex;
  position: relative;
  align-items: center;
  flex-direction: row;
  justify-content: flex-start;
}
.por-qu-sky-container08 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: flex-start;
}
.por-qu-sky-image02 {
  width: 40px;
  margin: 0 10px 0 0 ;
  display: inline-block;
  padding: 0;
  align-self: flex-start;
  object-fit: cover;
  margin-left: 100px;
  margin-right: 20px;
  vertical-align: initial;
}
.por-qu-sky-container09 {
  flex: 0 0 auto;
  width: 942px;
  height: auto;
  display: flex;
  flex-direction: column;
}
.por-qu-sky-text11 {
  width: 916px;
  font-size: 40px;
  align-self: flex-start;
  text-align: left;
  line-height: 50px;
}
.por-qu-sky-text13 {
  color: var(--dl-color-backgrounds-primary);
}
.por-qu-sky-text14 {
  margin-top: 10px;
}
.por-qu-sky-container10 {
  width: 100%;
  height: 252px;
  display: flex;
  position: relative;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.por-qu-sky-container11 {
  width: 100%;
  height: 182px;
  display: flex;
  align-self: center;
  align-items: center;
  justify-content: center;
}
.por-qu-sky-card {
  flex: 0 0 auto;
  width: 20%;
  border: 2px solid transparent;
  margin: var(--dl-space-space-halfunit);
  display: flex;
  align-self: center;
  background: linear-gradient(#fff 0 0) padding-box,      linear-gradient(to right, #fad126, #ff544f) border-box;;
  max-height: 150px;
  min-height: 150px;
  align-items: center;
  padding-top: var(--dl-space-space-oneandhalfunits);
  border-style: solid;
  padding-left: var(--dl-space-space-twounits);
  border-radius: 2em;
  padding-right: var(--dl-space-space-twounits);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-oneandhalfunits);
  justify-content: center;
}
.por-qu-sky-text15 {
  color: var(--dl-color-backgrounds-primary);
  font-size: 30px;
  align-self: center;
  line-height: 20px;
}
.por-qu-sky-text16 {
  align-self: center;
  line-height: 40px;
}
.por-qu-sky-text17 {
  align-self: center;
  margin-top: 0px;
  text-align: center;
}
.por-qu-sky-card1 {
  flex: 0 0 auto;
  width: 20%;
  border: 2px solid transparent;
  margin: var(--dl-space-space-halfunit);
  display: flex;
  align-self: center;
  background: linear-gradient(#fff 0 0) padding-box,      linear-gradient(to right, #fad126, #ff544f) border-box;;
  max-height: 150px;
  min-height: 150px;
  align-items: center;
  padding-top: var(--dl-space-space-oneandhalfunits);
  border-style: solid;
  padding-left: var(--dl-space-space-twounits);
  border-radius: 2em;
  padding-right: var(--dl-space-space-twounits);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-oneandhalfunits);
  justify-content: center;
}
.por-qu-sky-text18 {
  color: var(--dl-color-backgrounds-primary);
  width: 229px;
  font-size: 30px;
  align-self: center;
  text-align: center;
  line-height: 20px;
}
.por-qu-sky-text19 {
  width: 225px;
  align-self: center;
  line-height: 40px;
}
.por-qu-sky-text20 {
  align-self: center;
  margin-top: 0px;
  text-align: center;
}
.por-qu-sky-card2 {
  flex: 0 0 auto;
  width: 20%;
  border: 2px solid transparent;
  margin: var(--dl-space-space-halfunit);
  display: flex;
  align-self: center;
  background: linear-gradient(#fff 0 0) padding-box,      linear-gradient(to right, #fad126, #ff544f) border-box;;
  max-height: 150px;
  min-height: 150px;
  align-items: center;
  padding-top: var(--dl-space-space-oneandhalfunits);
  border-style: solid;
  padding-left: var(--dl-space-space-twounits);
  border-radius: 2em;
  padding-right: var(--dl-space-space-twounits);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-oneandhalfunits);
  justify-content: center;
}
.por-qu-sky-container12 {
  flex: 0 0 auto;
  width: auto;
  height: auto;
  display: flex;
  align-self: center;
  align-items: flex-start;
  justify-content: center;
}
.por-qu-sky-text21 {
  align-self: flex-end;
  font-weight: 800;
}
.por-qu-sky-text22 {
  color: var(--dl-color-backgrounds-primary);
  font-size: 40px;
  align-self: flex-end;
  line-height: 20px;
}
.por-qu-sky-text23 {
  font-size: 14px;
  align-self: center;
  margin-top: var(--dl-space-space-halfunit);
  line-height: 14px;
}
.por-qu-sky-card3 {
  flex: 0 0 auto;
  width: 20%;
  border: 2px solid transparent;
  margin: var(--dl-space-space-halfunit);
  display: flex;
  align-self: center;
  background: linear-gradient(#fff 0 0) padding-box,      linear-gradient(to right, #fad126, #ff544f) border-box;;
  max-height: 150px;
  min-height: 150px;
  align-items: center;
  padding-top: var(--dl-space-space-oneandhalfunits);
  border-style: solid;
  padding-left: var(--dl-space-space-twounits);
  border-radius: 2em;
  padding-right: var(--dl-space-space-twounits);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-oneandhalfunits);
  justify-content: center;
}
.por-qu-sky-text24 {
  color: var(--dl-color-backgrounds-primary);
  width: 182px;
  height: 46px;
  font-size: 30px;
  align-self: center;
  line-height: 20px;
}
.por-qu-sky-text25 {
  font-size: 14px;
  align-self: center;
  margin-top: var(--dl-space-space-halfunit);
  text-align: center;
}
.por-qu-sky-container13 {
  width: 100%;
  height: 124px;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-direction: column;
}
.por-qu-sky-container14 {
  width: 716px;
  height: 184px;
  display: flex;
  padding: var(--dl-space-space-halfunit);
  position: relative;
  margin-top: 0px;
  align-items: center;
  margin-bottom: 0px;
  flex-direction: row;
}
.por-qu-sky-image03 {
  width: 40px;
  height: auto;
  opacity: 0;
  align-self: center;
  object-fit: cover;
  margin-left: var(--dl-space-space-fiveunits);
}
.por-qu-sky-container15 {
  width: 759px;
  height: 120px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.por-qu-sky-text26 {
  width: 600px;
  opacity: 0;
  align-self: flex-start;
  font-style: normal;
  text-align: left;
  font-weight: 700;
  margin-left: var(--dl-space-space-unit);
  padding-top: var(--dl-space-space-halfunit);
  margin-right: var(--dl-space-space-fourunits);
}
.por-qu-sky-image04 {
  width: 100px;
  height: auto;
  align-self: center;
  object-fit: cover;
  margin-left: var(--dl-space-space-fourunits);
  margin-right: var(--dl-space-space-fourunits);
}
.por-qu-sky-text27 {
  color: #6b6b6b;
  font-size: 25px;
  align-items: center;
  margin-left: 20px;
}
.por-qu-sky-container16 {
  width: 100%;
  height: 70px;
  display: flex;
  padding: var(--dl-space-space-halfunit);
  position: relative;
  margin-top: 0px;
  margin-bottom: 0px;
  flex-direction: row;
  background-color: #f2f2f2;
}
.por-qu-sky-image05 {
  width: 40px;
  height: auto;
  align-self: center;
  object-fit: cover;
  margin-left: var(--dl-space-space-fiveunits);
}
.por-qu-sky-container17 {
  flex: 0 0 auto;
  width: auto;
  height: 41px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.por-qu-sky-text28 {
  width: 700px;
  align-self: flex-start;
  font-style: normal;
  text-align: left;
  font-weight: 700;
  margin-left: var(--dl-space-space-unit);
  padding-top: var(--dl-space-space-halfunit);
  margin-right: var(--dl-space-space-fourunits);
}
.por-qu-sky-image06 {
  width: 129px;
  height: 41px;
  align-self: center;
  object-fit: cover;
  margin-left: -50px;
  margin-right: var(--dl-space-space-fourunits);
}
.por-qu-sky-text29 {
  font-size: 20px;
  align-self: center;
  font-style: normal;
  text-align: center;
  font-weight: 700;
  margin-left: 0px;
}
.por-qu-sky-container18 {
  width: 100%;
  height: 70px;
  margin: 0px;
  display: flex;
  padding: var(--dl-space-space-halfunit);
  position: relative;
  flex-direction: row;
  background-color: #f2f2f2;
}
.por-qu-sky-image07 {
  width: 40px;
  height: auto;
  align-self: center;
  object-fit: cover;
  margin-left: var(--dl-space-space-fiveunits);
}
.por-qu-sky-container19 {
  flex: 0 0 auto;
  width: auto;
  height: 41px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.por-qu-sky-text30 {
  width: 700px;
  align-self: flex-start;
  font-style: normal;
  text-align: left;
  font-weight: 700;
  margin-left: var(--dl-space-space-unit);
  padding-top: var(--dl-space-space-halfunit);
  margin-right: var(--dl-space-space-fourunits);
}
.por-qu-sky-image08 {
  width: 40px;
  height: auto;
  align-self: center;
  object-fit: cover;
  margin-right: var(--dl-space-space-fourunits);
}
.por-qu-sky-text31 {
  font-size: 20px;
  align-self: center;
  font-style: normal;
  text-align: center;
  font-weight: 700;
  margin-left: 0px;
  padding-left: 0px;
}
.por-qu-sky-image09 {
  width: 100px;
  display: none;
  object-fit: cover;
}
.por-qu-sky-text32 {
  width: 794px;
  height: 150px;
  margin: var(--dl-space-space-twounits);
  font-size: 30px;
  align-self: center;
  text-align: center;
}
.por-qu-sky-text34 {
  color: #fa7930;
}
.por-qu-sky-text36 {
  display: none;
}
.por-qu-sky-container20 {
  width: 100%;
  height: 168px;
  display: flex;
  position: relative;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.por-qu-sky-container21 {
  flex: 0 0 auto;
  width: 720px;
  display: flex;
  align-items: flex-start;
  justify-content: space-around;
}
.por-qu-sky-container22 {
  flex: 0 0 auto;
  width: 276px;
  height: auto;
  display: flex;
  align-items: space-around;
  flex-direction: column;
}
.por-qu-sky-container23 {
  flex: 0 0 auto;
  width: 276px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.por-qu-sky-image10 {
  width: 80%;
  object-fit: cover;
}
.por-qu-sky-image11 {
  width: 100px;
  margin-top: 15px;
  object-fit: cover;
  margin-bottom: 15px;
}
.por-qu-sky-text37 {
  align-self: flex-start;
  text-align: center;
}
.por-qu-sky-container24 {
  flex: 0 0 auto;
  width: 239px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.por-qu-sky-image12 {
  width: 80%;
  object-fit: cover;
}
.por-qu-sky-image13 {
  width: 100px;
  margin-top: 10px;
  object-fit: cover;
  margin-bottom: 10px;
}
.por-qu-sky-text38 {
  align-self: flex-start;
  text-align: center;
}
.por-qu-sky-container25 {
  display: flex;
  position: relative;
}
.por-qu-sky-text39 {
  width: 794px;
  height: 150px;
  margin: var(--dl-space-space-twounits);
  font-size: 30px;
  align-self: center;
  text-align: center;
}
.por-qu-sky-text41 {
  color: #fa7930;
}
.por-qu-sky-text43 {
  width: 794px;
  margin: var(--dl-space-space-twounits);
  font-size: 30px;
  align-self: center;
  text-align: center;
}
.por-qu-sky-text45 {
  color: #fa7930;
}
.por-qu-sky-text47 {
  width: 866px;
  margin: var(--dl-space-space-twounits);
  display: none;
  align-self: center;
  text-align: center;
}
.por-qu-sky-container26 {
  width: 100%;
  height: 293px;
  display: flex;
  position: relative;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.por-qu-sky-container27 {
  flex: 0 0 auto;
  width: 720px;
  display: flex;
  align-items: flex-start;
  justify-content: space-around;
}
.por-qu-sky-container28 {
  flex: 0 0 auto;
  width: 276px;
  height: auto;
  display: flex;
  align-items: space-around;
  flex-direction: column;
}
.por-qu-sky-container29 {
  flex: 0 0 auto;
  width: 276px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.por-qu-sky-image14 {
  width: 80%;
  object-fit: cover;
}
.por-qu-sky-image15 {
  width: 100px;
  margin-top: 15px;
  object-fit: cover;
  margin-bottom: 15px;
}
.por-qu-sky-text48 {
  align-self: flex-start;
  text-align: center;
}
.por-qu-sky-container30 {
  flex: 0 0 auto;
  width: 239px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.por-qu-sky-image16 {
  width: 80%;
  object-fit: cover;
}
.por-qu-sky-image17 {
  width: 100px;
  margin-top: 10px;
  object-fit: cover;
  margin-bottom: 10px;
}
.por-qu-sky-text49 {
  align-self: flex-start;
  text-align: center;
}
.por-qu-sky-container31 {
  width: 100%;
  height: 168px;
  display: flex;
  position: relative;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.por-qu-sky-container32 {
  flex: 0 0 auto;
  width: 720px;
  display: flex;
  align-items: flex-start;
  justify-content: space-around;
}
.por-qu-sky-container33 {
  flex: 0 0 auto;
  width: 276px;
  height: auto;
  display: flex;
  align-items: space-around;
  flex-direction: column;
}
.por-qu-sky-container34 {
  flex: 0 0 auto;
  width: 276px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.por-qu-sky-image18 {
  width: 80%;
  object-fit: cover;
}
.por-qu-sky-image19 {
  width: 100px;
  margin-top: 15px;
  object-fit: cover;
  margin-bottom: 15px;
}
.por-qu-sky-text50 {
  align-self: flex-start;
  text-align: center;
}
.por-qu-sky-container35 {
  flex: 0 0 auto;
  width: 239px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.por-qu-sky-image20 {
  width: 80%;
  object-fit: cover;
}
.por-qu-sky-image21 {
  width: 100px;
  margin-top: 10px;
  object-fit: cover;
  margin-bottom: 10px;
}
.por-qu-sky-text51 {
  align-self: flex-start;
  text-align: center;
}
.por-qu-sky-container36 {
  width: 100%;
  height: 263px;
  display: flex;
  position: relative;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.por-qu-sky-container37 {
  flex: 0 0 auto;
  width: 720px;
  height: auto;
  display: flex;
  align-items: flex-start;
  justify-content: space-around;
}
.por-qu-sky-container38 {
  flex: 0 0 auto;
  width: 276px;
  height: auto;
  display: flex;
  align-items: space-around;
  flex-direction: column;
}
.por-qu-sky-container39 {
  flex: 0 0 auto;
  width: 276px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.por-qu-sky-image22 {
  width: 80%;
  object-fit: cover;
}
.por-qu-sky-image23 {
  width: 100px;
  margin-top: 15px;
  object-fit: cover;
  margin-bottom: 15px;
}
.por-qu-sky-text52 {
  align-self: flex-start;
  text-align: center;
}
.por-qu-sky-container40 {
  flex: 0 0 auto;
  width: 239px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.por-qu-sky-image24 {
  width: 80%;
  object-fit: cover;
}
.por-qu-sky-image25 {
  width: 100px;
  margin-top: 10px;
  object-fit: cover;
  margin-bottom: 10px;
}
.por-qu-sky-text53 {
  align-self: flex-start;
  text-align: center;
}
.por-qu-sky-container41 {
  width: 100%;
  height: 230px;
  display: flex;
  position: relative;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.por-qu-sky-container42 {
  flex: 0 0 auto;
  width: 720px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.por-qu-sky-container43 {
  flex: 0 0 auto;
  width: 276px;
  height: auto;
  display: flex;
  align-items: space-around;
  flex-direction: column;
}
.por-qu-sky-container44 {
  flex: 0 0 auto;
  width: 276px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
}
.por-qu-sky-image26 {
  width: 80%;
  object-fit: cover;
}
.por-qu-sky-image27 {
  width: 100px;
  margin-top: 15px;
  object-fit: cover;
  margin-bottom: 15px;
}
.por-qu-sky-text54 {
  align-self: flex-start;
  text-align: center;
}
.por-qu-sky-container45 {
  width: 100%;
  height: 191px;
  display: flex;
  position: relative;
  align-items: center;
  flex-direction: row;
  justify-content: flex-start;
}
.por-qu-sky-container46 {
  flex: 0 0 auto;
  width: 100%;
  height: 168px;
  display: flex;
  align-items: flex-start;
}
.por-qu-sky-image28 {
  width: 40px;
  margin: 0 10px 0 0 ;
  display: inline-block;
  padding: 0;
  align-self: flex-start;
  object-fit: cover;
  margin-left: 100px;
  margin-right: 20px;
  vertical-align: initial;
}
.por-qu-sky-container47 {
  flex: 0 0 auto;
  width: 942px;
  height: auto;
  display: flex;
  flex-direction: column;
}
.por-qu-sky-text55 {
  width: 916px;
  font-size: 40px;
  align-self: flex-start;
  text-align: left;
  line-height: 50px;
}
.por-qu-sky-text57 {
  color: #e71010;
}
.por-qu-sky-text58 {
  color: #312783;
}
.por-qu-sky-text59 {
  color: #312783;
}
.por-qu-sky-text60 {
  color: #090748;
}
.por-qu-sky-text61 {
  margin-top: 10px;
}
.por-qu-sky-container48 {
  width: 758px;
  height: 121px;
  margin: var(--dl-space-space-twounits);
  display: flex;
  position: relative;
  align-items: center;
  flex-direction: row;
  justify-content: center;
}
.por-qu-sky-container49 {
  width: 1121px;
  height: 72px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.por-qu-sky-image29 {
  width: 200px;
  margin: var(--dl-space-space-twounits);
  object-fit: cover;
}
.por-qu-sky-image30 {
  width: 200px;
  margin: var(--dl-space-space-twounits);
  object-fit: cover;
}
.por-qu-sky-container50 {
  width: 100%;
  height: 106px;
  display: flex;
  position: relative;
  align-items: center;
  flex-direction: row;
  justify-content: flex-start;
}
.por-qu-sky-container51 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: flex-start;
}
.por-qu-sky-image31 {
  width: 40px;
  margin: 0 10px 0 0 ;
  display: inline-block;
  padding: 0;
  align-self: flex-start;
  object-fit: cover;
  margin-left: 100px;
  margin-right: 20px;
  vertical-align: initial;
}
.por-qu-sky-container52 {
  flex: 0 0 auto;
  width: 942px;
  height: auto;
  display: flex;
  flex-direction: column;
}
.por-qu-sky-text62 {
  width: 916px;
  font-size: 40px;
  align-self: flex-start;
  text-align: left;
  line-height: 50px;
}
.por-qu-sky-text64 {
  color: var(--dl-color-backgrounds-primary);
}
.por-qu-sky-text65 {
  margin-top: 10px;
}
.por-qu-sky-image32 {
  width: 930px;
  object-fit: cover;
}
@media(max-width: 1200px) {
  .por-qu-sky-container02 {
    height: 204px;
  }
  .por-qu-sky-container03 {
    width: 100%;
  }
  .por-qu-sky-image {
    margin-left: 20px;
  }
  .por-qu-sky-container04 {
    width: 90%;
  }
  .por-qu-sky-text03 {
    width: 90%;
  }
  .por-qu-sky-container05 {
    height: auto;
  }
  .por-qu-sky-text09 {
    width: 90%;
    height: auto;
    margin-top: 50px;
  }
  .por-qu-sky-image01 {
    height: auto;
    margin: 0;
  }
  .por-qu-sky-container08 {
    width: 100%;
  }
  .por-qu-sky-image02 {
    margin-top: var(--dl-space-space-halfunit);
    margin-left: 20px;
  }
  .por-qu-sky-container09 {
    width: 90%;
  }
  .por-qu-sky-container10 {
    height: auto;
    margin-top: 40px;
  }
  .por-qu-sky-container11 {
    height: auto;
    flex-direction: column;
  }
  .por-qu-sky-card {
    width: 90%;
  }
  .por-qu-sky-card1 {
    width: 90%;
  }
  .por-qu-sky-card2 {
    width: 90%;
  }
  .por-qu-sky-card3 {
    width: 90%;
  }
  .por-qu-sky-image09 {
    display: none;
  }
  .por-qu-sky-text32 {
    width: 90%;
    margin-top: 94px;
  }
  .por-qu-sky-text39 {
    width: 90%;
  }
  .por-qu-sky-text43 {
    width: 90%;
  }
  .por-qu-sky-image28 {
    margin-top: var(--dl-space-space-halfunit);
    margin-left: 20px;
  }
  .por-qu-sky-container47 {
    width: 100%;
  }
  .por-qu-sky-text61 {
    width: 80%;
  }
  .por-qu-sky-container50 {
    height: auto;
  }
  .por-qu-sky-container51 {
    width: 90%;
    height: auto;
    margin-bottom: 20px;
  }
  .por-qu-sky-image31 {
    margin-top: var(--dl-space-space-halfunit);
    margin-left: 20px;
  }
  .por-qu-sky-container52 {
    width: 100%;
  }
  .por-qu-sky-text62 {
    width: 100%;
    margin-bottom: 20px;
  }
  .por-qu-sky-image32 {
    width: 100%;
  }
}
@media(max-width: 896px) {
  .por-qu-sky-image {
    margin-left: 30px;
  }
  .por-qu-sky-text03 {
    width: 90%;
  }
  .por-qu-sky-text06 {
    width: 90%;
    margin-top: 30px;
  }
  .por-qu-sky-text07 {
    width: 90%;
  }
  .por-qu-sky-image02 {
    margin-left: 30px;
  }
  .por-qu-sky-text11 {
    width: 100%;
  }
  .por-qu-sky-text14 {
    width: 90%;
  }
  .por-qu-sky-image09 {
    width: 90%;
    display: none;
  }
  .por-qu-sky-image28 {
    margin-left: 30px;
  }
  .por-qu-sky-text55 {
    width: 90%;
  }
  .por-qu-sky-text61 {
    width: 90%;
  }
  .por-qu-sky-image31 {
    margin-left: 30px;
  }
  .por-qu-sky-text62 {
    width: 100%;
  }
}
@media(max-width: 763px) {
  .por-qu-sky-container02 {
    width: 90%;
    height: auto;
    padding: 0;
  }
  .por-qu-sky-container03 {
    width: 100%;
    height: auto;
  }
  .por-qu-sky-image {
    margin-left: 0;
  }
  .por-qu-sky-container04 {
    width: 100%;
  }
  .por-qu-sky-text03 {
    width: 90%;
  }
  .por-qu-sky-text06 {
    width: 85%;
  }
  .por-qu-sky-text07 {
    width: 85%;
  }
  .por-qu-sky-container05 {
    height: auto;
  }
  .por-qu-sky-text09 {
    width: 90%;
    height: auto;
    margin: 0;
  }
  .por-qu-sky-image01 {
    margin-top: 0;
  }
  .por-qu-sky-container07 {
    height: auto;
    margin-bottom: 50px;
  }
  .por-qu-sky-container08 {
    width: 90%;
    height: auto;
    margin-top: 80px;
  }
  .por-qu-sky-container09 {
    width: 93%;
  }
  .por-qu-sky-text11 {
    width: 100%;
    margin-bottom: var(--dl-space-space-twounits);
  }
  .por-qu-sky-container10 {
    height: auto;
  }
  .por-qu-sky-container11 {
    height: auto;
    flex-direction: column;
  }
  .por-qu-sky-card {
    width: 80%;
  }
  .por-qu-sky-card1 {
    width: 80%;
  }
  .por-qu-sky-card2 {
    width: 80%;
  }
  .por-qu-sky-card3 {
    width: 80%;
  }
  .por-qu-sky-container13 {
    display: none;
  }
  .por-qu-sky-container14 {
    display: none;
  }
  .por-qu-sky-container16 {
    display: none;
  }
  .por-qu-sky-container18 {
    display: none;
  }
  .por-qu-sky-image09 {
    display: block;
    margin-top: var(--dl-space-space-twounits);
    margin-bottom: var(--dl-space-space-twounits);
  }
  .por-qu-sky-text32 {
    width: 90%;
    height: auto;
    margin-top: var(--dl-space-space-threeunits);
  }
  .por-qu-sky-container20 {
    height: auto;
    margin: 30px 0;
  }
  .por-qu-sky-container21 {
    width: 100%;
    height: auto;
    align-items: center;
    flex-direction: column;
  }
  .por-qu-sky-container22 {
    width: 80%;
  }
  .por-qu-sky-container23 {
    width: 100%;
  }
  .por-qu-sky-container24 {
    width: 80%;
    margin-top: 30px;
  }
  .por-qu-sky-container25 {
    width: 90%;
    margin-top: 30px;
  }
  .por-qu-sky-text39 {
    width: 100%;
    height: auto;
    margin: 0;
  }
  .por-qu-sky-text43 {
    width: 90%;
  }
  .por-qu-sky-container26 {
    height: auto;
    align-items: center;
    justify-content: center;
  }
  .por-qu-sky-container27 {
    width: 100%;
    align-items: center;
    flex-direction: column;
    justify-content: center;
  }
  .por-qu-sky-container28 {
    width: 100%;
    align-items: center;
  }
  .por-qu-sky-container29 {
    width: 80%;
    height: auto;
    margin-bottom: 30px;
  }
  .por-qu-sky-container30 {
    width: 80%;
    height: auto;
    margin-bottom: 30px;
  }
  .por-qu-sky-container31 {
    height: auto;
  }
  .por-qu-sky-container32 {
    width: 100%;
    height: auto;
    align-items: center;
    flex-direction: column;
    justify-content: center;
  }
  .por-qu-sky-container33 {
    width: 100%;
    align-items: center;
  }
  .por-qu-sky-container34 {
    width: 80%;
    height: auto;
    text-align: center;
    align-items: center;
    margin-bottom: 30px;
  }
  .por-qu-sky-text50 {
    margin-left: auto;
    margin-right: auto;
  }
  .por-qu-sky-container35 {
    width: 80%;
    height: auto;
    align-items: center;
    margin-bottom: 30px;
    justify-content: center;
  }
  .por-qu-sky-text51 {
    margin-left: auto;
    margin-right: auto;
  }
  .por-qu-sky-container36 {
    height: auto;
    align-items: center;
    justify-content: center;
  }
  .por-qu-sky-container37 {
    width: 100%;
    align-items: center;
    flex-direction: column;
    justify-content: center;
  }
  .por-qu-sky-container38 {
    width: 100%;
    align-items: center;
  }
  .por-qu-sky-container39 {
    width: 80%;
    height: auto;
    margin-bottom: 30px;
  }
  .por-qu-sky-container40 {
    width: 80%;
    height: auto;
    margin-bottom: 30px;
  }
  .por-qu-sky-container42 {
    width: 100%;
    height: auto;
  }
  .por-qu-sky-container43 {
    width: 80%;
  }
  .por-qu-sky-container44 {
    width: 100%;
    height: auto;
  }
  .por-qu-sky-text54 {
    margin-left: auto;
    margin-right: auto;
  }
  .por-qu-sky-container45 {
    width: 100%;
    height: auto;
  }
  .por-qu-sky-container46 {
    height: auto;
  }
  .por-qu-sky-container47 {
    width: 85%;
  }
  .por-qu-sky-text55 {
    margin-bottom: var(--dl-space-space-twounits);
  }
  .por-qu-sky-container48 {
    height: auto;
  }
  .por-qu-sky-container49 {
    height: auto;
    flex-direction: column;
  }
  .por-qu-sky-container50 {
    width: 90%;
    height: auto;
    margin-bottom: 40px;
  }
  .por-qu-sky-container51 {
    width: 100%;
    height: auto;
  }
  .por-qu-sky-image31 {
    margin-left: 10px;
  }
  .por-qu-sky-container52 {
    width: 100%;
  }
  .por-qu-sky-text62 {
    width: 80%;
    margin-bottom: var(--dl-space-space-twounits);
  }
  .por-qu-sky-text65 {
    width: 90%;
  }
  .por-qu-sky-image32 {
    width: 100%;
  }
}
@media(max-width: 425px) {
  .por-qu-sky-container01 {
    width: 80%;
    margin: 0;
  }
  .por-qu-sky-container26 {
    margin: 50px 0 0 0;
}
  .por-qu-sky-container02 {
    width: 90%;
    height: auto;
    text-align: center;
    align-items: center;
    padding-left: 0px;
    padding-right: 0px;
    justify-content: center;
  }
  .por-qu-sky-container30 {
    width: 80%;
    height: auto;
    margin-bottom: 30px;
    padding: 0 15px;
}
  .por-qu-sky-container03 {
    width: 100%;
    height: auto;
    text-align: center;
  }
  .por-qu-sky-image {
    display: none;
  }
  .por-qu-sky-container04 {
    width: 100%;
    height: auto;
    align-items: center;
    margin-bottom: 0px;
    justify-content: center;
  }
  .por-qu-sky-text03 {
    width: 100%;
    font-size: 25px;
    text-align: center;
  }
  .por-qu-sky-text06 {
    width: 100%;
    margin-top: 20px;
    text-align: center;
  }
  .por-qu-sky-text07 {
    width: 100%;
    margin: 0;
    text-align: center;
  }
  .por-qu-sky-container05 {
    height: auto;
    align-items: center;
    padding-top: 0px;
  }
  .por-qu-sky-text09 {
    width: 90%;
    height: 124px;
    font-size: 20px;
    line-height: 21px;
  }
  .por-qu-sky-image01 {
    height: auto;
  }
  .por-qu-sky-container07 {
    height: auto;
    align-items: center;
  }
  .por-qu-sky-container08 {
    width: 100%;
    height: auto;
    margin-top: 30px;
    align-items: center;
    justify-content: center;
  }
  .por-qu-sky-image02 {
    display: none;
    margin-left: 3px;
  }
  .por-qu-sky-container09 {
    width: 100%;
    height: auto;
    align-items: center;
    justify-content: center;
  }
  .por-qu-sky-text11 {
    width: 100%;
    font-size: 35px;
    text-align: center;
    align-items: center;
    line-height: 34px;
    justify-content: center;
  }
  .por-qu-sky-text14 {
    text-align: center;
    align-items: center;
  }
  .por-qu-sky-container10 {
    height: auto;
  }
  .por-qu-sky-container11 {
    width: 80%;
    height: auto;
    flex-direction: column;
  }
  .por-qu-sky-card {
    width: 100%;
  }
  .por-qu-sky-card1 {
    width: 100%;
  }
  .por-qu-sky-card2 {
    width: 100%;
  }
  .por-qu-sky-card3 {
    width: 100%;
  }
  .por-qu-sky-container13 {
    display: none;
  }
  .por-qu-sky-container14 {
    display: none;
  }
  .por-qu-sky-container16 {
    display: none;
  }
  .por-qu-sky-image05 {
    margin-left: 0px;
  }
  .por-qu-sky-container17 {
    width: 293px;
  }
  .por-qu-sky-text28 {
    width: 206px;
    font-size: 12px;
    margin-right: 0px;
  }
  .por-qu-sky-container18 {
    display: none;
  }
  .por-qu-sky-image09 {
    display: block;
  }
  .por-qu-sky-text32 {
    width: 90%;
    height: auto;
    margin: 0;
    font-size: 20px;
  }
  .por-qu-sky-text36 {
    width: 80%;
    display: none;
    font-size: 20px;
    margin-top: 50;
    text-align: center;
  }
  .por-qu-sky-container20 {
    height: 462px;
    flex-direction: column;
  }
  .por-qu-sky-container21 {
    width: 478px;
    height: 396px;
    margin: 0;
    align-items: center;
    flex-direction: column;
    justify-content: space-around;
  }
  .por-qu-sky-text37 {
    margin-bottom: 50;
  }
  .por-qu-sky-container25 {
    width: 90%;
  }
  .por-qu-sky-text39 {
    width: 100%;
    height: auto;
    margin: 0;
    font-size: 20px;
  }
  .por-qu-sky-text43 {
    width: 90%;
    margin: 0;
    font-size: 20px;
    margin-top: 20px;
  }
  .por-qu-sky-text47 {
    width: 90%;
    margin: 0;
    display: none;
    padding: 0 20px;
    font-size: 20px;
    text-align: center;
    margin-bottom: 50px;
  }
  .por-qu-sky-container26 {
    height: 495px;
    flex-direction: column;
  }
  .por-qu-sky-container27 {
    width: 478px;
    height: 100%;
    margin: 0;
    align-items: center;
    flex-direction: column;
    justify-content: space-around;
  }
  .por-qu-sky-text49 {
    margin-bottom: 50px;
  }
  .por-qu-sky-container31 {
    height: 100%;
    margin-bottom: 250px;
    flex-direction: column;
  }
  .por-qu-sky-container32 {
    width: 478px;
    height: 100%;
    margin: 0;
    margin-top: 0;
    align-items: center;
    flex-direction: column;
    justify-content: space-around;
  }
  .por-qu-sky-container33 {
    margin-bottom: 50px;
  }
  .por-qu-sky-text50 {
    margin-bottom: 50;
  }
  .por-qu-sky-text51 {
    margin-bottom: 50px;
  }
  .por-qu-sky-container36 {
    height: 100%;
    flex-direction: column;
  }
  .por-qu-sky-container37 {
    width: 478px;
    height: 100%;
    margin: 0;
    margin-top: -250px;
    align-items: center;
    flex-direction: column;
    justify-content: space-around;
  }
  .por-qu-sky-text52, .por-qu-sky-text53{
    margin-bottom: 50px;
text-align: center !important;
width: 100%;
  }
  .por-qu-sky-container41 {
    height: 100%;
  }
  .por-qu-sky-container42 {
    width: 478px;
    margin-top: 50px;
    margin-bottom: 50px;
  }
  .por-qu-sky-container45 {
    height: 100%;
    margin-bottom: 50px;
  }
  .por-qu-sky-container46 {
    width: 100%;
    height: auto;
    padding: 0 20px;
    justify-content: center;
  }
  .por-qu-sky-image28 {
    display: none;
    margin-left: 3px;
  }
  .por-qu-sky-container47 {
    width: 90%;
    height: auto;
    align-items: center;
  }
  .por-qu-sky-text55 {
    width: 100%;
    font-size: 30px;
    text-align: center;
    line-height: 32px;
    justify-content: center;
  }
  .por-qu-sky-text61 {
    text-align: center;
  }
  .por-qu-sky-container48 {
    width: 100%;
    height: 290px;
  }
  .por-qu-sky-container49 {
    width: 478px;
    flex-direction: column;
  }
  .por-qu-sky-container50 {
    height: 100%;
    padding-top: 0px;
  }
  .por-qu-sky-container51 {
    width: 100%;
    padding: 0 20px;
    justify-content: center;
  }
  .por-qu-sky-image31 {
    display: none;
    margin-left: 3px;
  }
  .por-qu-sky-container52 {
    width: 100%;
    justify-content: center;
  }
  .por-qu-sky-text62 {
    width: 100%;
    font-size: 35px;
    text-align: center;
    line-height: 36px;
    justify-content: center;
  }
  .por-qu-sky-text65 {
    text-align: center;
  }
  .por-qu-sky-image32 {
    width: 100%;
    padding: 0 20px;
    margin-top: 45px;
    margin-bottom: 50px;
  }
}
@media(max-width: 1024px) {
  .bullet-tablao-text, .por-qu-sky-text30, .por-qu-sky-container17{
    width: 450px;}
    .por-qu-sky-container17,.bullet-tablao1-container1{
      width: 520px;}
    .bullet-tablao1-container1{
        width: 530px;}
        .por-qu-sky-image32 {
    width: 90%;
}
}

img.por-qu-sky-image17 {
    width: auto;
    height: 100px;
    margin: 15px 0 !important;
}
img.por-qu-sky-image15 {
    height: 100px;
    width: auto;
    margin: 15px 0;
}
img.por-qu-sky-image19 {
    margin: 15px 0;
    width: auto;
    height: 100px;
}
img.por-qu-sky-image21 {
    width: auto;
    height: 100px;
    margin: 15px 0;
}

img.por-qu-sky-image23 {
    width: auto;
    height: 60px;
    margin: 15px 0;
}
img.por-qu-sky-image25 {
    width: auto;
    height: 80px;
    margin: 5px 0;
}
img.por-qu-sky-image27 {
    width: auto;
    height: 100px;
    margin: 15px 0;
}

.por-qu-sky-container45 {
    margin: 40px 0 0 0;
}
.bluea_s{
  color:#312783;
}
.por-qu-sky-image20,.por-qu-sky-image18,.por-qu-sky-image22,.por-qu-sky-image24{
    margin: 30px 0 0 0;
}

.por-qu-sky-container34,.por-qu-sky-container35, .por-qu-sky-container39,.por-qu-sky-container40 {
    margin: 30px 0 0 0;
}
