.alianzas-container {
  width: 100%;
  height: 168px;
  display: flex;
  position: relative;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.alianzas-container1 {
  flex: 0 0 auto;
  width: 720px;
  display: flex;
  align-items: flex-start;
  justify-content: space-around;
}
.alianzas-container2 {
  flex: 0 0 auto;
  width: 276px;
  height: auto;
  display: flex;
  align-items: space-around;
  flex-direction: column;
}
.alianzas-container3 {
  flex: 0 0 auto;
  width: 276px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.alianzas-image {
  width: 80%;
  object-fit: cover;
}
.alianzas-image1 {
  width: 100px;
  margin-top: 15px;
  object-fit: cover;
  margin-bottom: 15px;
}
.alianzas-text {
  align-self: flex-start;
  text-align: center;
}
.alianzas-container4 {
  flex: 0 0 auto;
  width: 239px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.alianzas-image2 {
  width: 80%;
  object-fit: cover;
}
.alianzas-image3 {
  width: 100px;
  margin-top: 10px;
  object-fit: cover;
  margin-bottom: 10px;
}
.alianzas-text1 {
  align-self: flex-start;
  text-align: center;
}
@media(max-width: 425px) {
  .alianzas-container {
    flex-direction: column;
  }
  .alianzas-container1 {
    width: 478px;
    height: 396px;
    margin: 0;
    align-items: center;
    flex-direction: column;
    justify-content: space-around;
  }
  .alianzas-text {
    margin-bottom: 50;
  }
}
