.breadcrum-container {
  flex: 0 0 auto;
  width: 100%;
  height: 100px;
  display: flex;
  position: relative;
  align-items: center;
  margin-left: 200px;
  justify-content: flex-start;
}
.breadcrum-text1 {
  padding-left: 20px;
  padding-right: 20px;
}
.breadcrum-text2 {
  color: var(--dl-color-backgrounds-primary);
  font-size: 18px;
  font-weight: 600;
  padding-top: 0 10px 0 10px;
  padding-bottom: 0 10px 0 10px;
}
