.dos-imgenes-al-lado-container {
  width: 331px;
  height: 67px;
  display: flex;
  position: relative;
  align-items: center;
  flex-direction: row;
  justify-content: center;
}
.dos-imgenes-al-lado-container1 {
  width: 1121px;
  height: 192px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.dos-imgenes-al-lado-image {
  width: 200px;
  margin: var(--dl-space-space-twounits);
  object-fit: cover;
}
.dos-imgenes-al-lado-image1 {
  width: 200px;
  margin: var(--dl-space-space-twounits);
  object-fit: cover;
}
@media(max-width: 425px) {
  .dos-imgenes-al-lado-container {
    height: 0px;
  }
  .dos-imgenes-al-lado-container1 {
    flex-direction: column;
  }
}
